@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login-Đăng nhập</title>
</head>
<body>
    <h2>Đăng nhâp</h2>
    <div>
    
    </div>
</body>
</html>
