@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
</head>
<body>
    <h2>Đăng nhập</h2>
    <form action="https://www.google.com" method=" post">
    @*ô nhập tên đăng nhập*@
    <label for="username">tên đăng nhập:</label>
    <input type="text" id="username" name="username" placeholder="Nhập tên..." required>
    <br><br>
    @*ô nhập mật khẩu*@
    <label for="password">mật khẩu:</label>
    <input type="password" id="password" name="password" placeholder="Nhập mật khẩu..." required>
    <br><br>
    @*ô lưu thông tin đăng nhập*@
    <input type="checkbox" id="remember" name="remember">
    <label for="remember">Lưu thông tin đăng nhập</label>
    @*bt đăng nhập*@
        <button type="sumbit">Đăng nhập</button>
        </form>
    <p>sử dụng thông tin do trường cấp nếu quên mật khẩu thì bấm vào
    <a href="~/th03/repass">đây</a></p>
    <a href="~/th03/home">Back</a>



</body>
</html>
