@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2> Quên mật khẩu</h2>
    <form action="https://www.google.com" method="posr">
        <fieldset
          <legend>Lấy lại mật khẩu</legend><br>
    <label for=" username">mã số sinh viên:</label><br>
    <input type=" text" id="masv" name="masv"<br><br>

    <label for=" oldpass">mật khẩu cũ:</label><br>
    <input type=" text" id="oldpass" name="oldpass"<br><br>

    <label for=" newpass">mật khẩu mới:</label><br>
    <input type=" text" id="newpass" name="newpass"<br><br>

    <label for=" renewpass">Nhập lại mật khẩu mới:</label><br>
    <input type=" text" id="renewpass" name="renewpass"<br><br>

    <button type=" sumbit"> Lưu lại</button><br><br>
    </fieldset>
    </form>
    <a href="~/th03/home">Back</a>
</body>
</html>
